<%= flash[:notice] %>
<table>
  <thead>
    <tr>
      <th>Attribute Kind</th>
      <th>Attribute Name</th>
    </tr>
  </thead>
  <tbody>
    <% @attributes.each do |attribute| %>
      <tr>
        <td><%= attribute.kind %></td>
        <td><%= attribute.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
<h4>Import data</h4>
  <%= form_tag import_attributes_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
